<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="ctx" th:content="${#httpServletRequest.getContextPath()}">
    <title>订单确认</title>
    <script th:src="@{/js/jquery-3.4.1.js}"></script>
    <script th:src="@{/webjars/vue/2.6.11/dist/vue.js}"></script>
    <script th:src="@{/webjars/element-ui/2.13.0/lib/index.js}"></script>
    <script src="" th:src="@{/js/bootstrap.js}"></script>
    <script src="" th:src="@{/js/axios.min.js}"></script>
    <link th:href="@{/webjars/element-ui/2.13.0/lib/theme-chalk/index.css}" rel="stylesheet">
    <link th:href="@{/css/order/orderPage.css}" rel="stylesheet">
    <link href="" rel="stylesheet" th:href="@{/css/bootstrap.css}">
</head>
<body>
<div th:replace="toolBar/topNavBar::topNavBar"></div>
<div id="app">
    <input hidden="hidden" ref="ids" th:value="${ids}">
    <el-container style="width: 70% ;margin: auto">
        <el-header style="margin-bottom: 15px">
            <h1 style="color: red">
                <div style="margin: auto ;width: fit-content">订单<i class="el-icon-s-order"></i></div>
            </h1>
        </el-header>
        <el-main style="height: fit-content">
            <div>
                <div>
                    <div class="cart-filter-bar">
                        <div class="switch-cart-item curr">
                            <h3 style="color: red">全部商品<span class="number"> {{orderList.length}}</span></h3>
                        </div>
                    </div>
                </div>
                <div>
                    <div>
                        <!--商品信息头-->
                        <div class="barBorder">
                            <div class="select-all">
                            </div>
                            <div class="t-column t-goods">商品</div>
                            <div class="t-column t-props"></div>
                            <div class="t-column t-price">单价</div>
                            <div class="t-column t-quantity">数量</div>
                            <div class="t-column t-sum">小计</div>
                            <div class="t-column t-action">操作</div>
                        </div>

                        <!--商品信息栏-->
                        <div class="cartBarBorder" v-for="(cart,index) in orderList" :key="index">
                            <div class="selectItem">
                                {{index+1}}
                            </div>
                            <div class="column cart-goods">
                                <el-image :src="picUrl(index)" lazy></el-image>
                            </div>
                            <div class="column cart-props">
                                <a :href="'/ShopWeb/shop/detailPage?shopId=' + cart.shopVo.id" target="_blank">{{cart.shopVo.shopItems[0].name}}</a>
                            </div>
                            <div class="column cart-price">{{cart.shopVo.shopItems[0].price.toFixed(2)}}</div>
                            <div class="column cart-quantity">{{cart.shopItemNum}}</div>
                            <div class="column cart-sum">{{ItemsSum(index)}}</div>
                            <div class="column cart-action">
                            </div>
                        </div>

                        <!--结算栏-->
                        <div class="barBorder">
                            <div class="receiver-label">
                                收件地址：
                            </div>
                            <div class="receiver-ops">
                                <el-select v-model="receiveInfoId"
                                           placeholder="请选择"
                                           size="small"
                                           style="width: 550px"
                                           @change="receiverChange">
                                    <el-option
                                            v-for="(receiver,index) in receivers"
                                            :key="index"
                                            :label="receiverLabel(receiver)"
                                            :value="receiver.id">
                                    </el-option>
                                    <el-option v-if="receivers.length < 10"
                                            :label="'+添加新的收件地址'"
                                            :value="0">
                                    </el-option>
                                    <el-option v-if="receivers.length === 10"
                                               :label="'收件地址最多10个'"
                                               :value="-1"
                                               disabled>
                                    </el-option>
                                </el-select>
                            </div>
                            <div class="normal">
                                <div class="btn-area">
                                    <el-button type="danger" icon="el-icon-s-claim" @click="createOrder">确认订单
                                    </el-button>
                                </div>
                                <div class="price-sum">
                                    <div>
                                        <span>总价：</span>
                                        <span><em>¥{{sumPrice}}</em></span>
                                    </div>
                                </div>
                                <div class="amount-sum">
                                    共有<em style="color: red"> {{orderListNum}} </em>件商品
                                </div>
                            </div>
                        </div><!--结算栏-->
                    </div>
                </div>
            </div>
            <form th:action="@{/order/payPage}" method="get" ref="toPayPageForm">
                <input hidden="hidden" th:value="${session.SW_USER_TOKEN}" name="SW_USER_TOKEN">
                <input hidden="hidden" name="orderId" ref="orderId" value="">
            </form>
            <!--新增收货地址对话框-->
            <el-dialog title="收货地址" :visible.sync="newDialogFormVisible">
                <el-form :model="newReceiverInfo" status-icon :rules="rules" ref="newReceiverForm">
                    <el-form-item label="收件人"  prop="receiver">
                        <el-input v-model="newReceiverInfo.receiver"></el-input>
                    </el-form-item>
                    <el-form-item label="电话"  prop="phoneNumber">
                        <el-input v-model="newReceiverInfo.phoneNumber"></el-input>
                    </el-form-item>
                    <el-form-item label="地址"  prop="address">
                        <el-input v-model="newReceiverInfo.address"></el-input>
                    </el-form-item>
                </el-form>
                <div slot="footer" class="dialog-footer">
                    <el-button @click="newDialogFormVisible = false">取 消</el-button>
                    <el-button type="primary" @click="addNewReceiverInfo">确 定</el-button>
                </div>
            </el-dialog>

        </el-main>
    </el-container>
</div>
</body>

<script th:src="@{/js/toolBar/topNavBar.js}"></script>
<script>
    new Vue({
        el: "#app",
        data: {
            ids: [],
            orderList: [],
            receivers: [],
            receiveInfoId: '',
            newDialogFormVisible:false,
            newReceiverInfo:{
                receiver:'',
                phoneNumber:'',
                address:''
            }, rules: {
                receiver: [
                    {required: true, message: '请输入收件人姓名', trigger: 'blur'},
                    {min: 1, max: 30, message: '长度在 1 到 30 个字符', trigger: 'blur'}
                ], address: [
                    {required: true, message: '请输收件地址', trigger: 'blur'},
                    {min: 1, max: 100, message: '长度在 1 到 100 个字符', trigger: 'blur'}
                ], phoneNumber: [
                    {required: true, message: '请输入收件人电话', trigger: 'blur'},
                    {min: 8, max: 11, message: '长度在 8 到 11 个字符', trigger: 'blur'}
                ]
            }
        },
        mounted() {
            var _that = this;
            _that.ids = _that.$refs.ids.getAttribute("value").split(",");
            axios({
                method: "post",
                url: "/ShopWeb/cart/cartsListByIds",
                data: {
                    ids: _that.$refs.ids.getAttribute("value")
                }
            }).then(function (value) {
                if (value.data.success) {
                    _that.orderList = value.data.content;
                } else {
                    _that.$message.error(value.data.message);
                }
            }).catch(function (reason) {
                console.log(reason);
                _that.$message.error("获取购物车列表错误！！");
            });
            axios.get("/ShopWeb/user/getReceivers").then(function (value) {
                if (!value.data.success) {
                    _that.$message.error(value.data.message);
                    return;
                }
                _that.receivers = value.data.content;
                if (value.data.content.length > 0)
                    _that.receiveInfoId = value.data.content[0].id;
            }).catch(function (reason) {
                console.log(reason);
                _that.$message.error("获取收件地址错误！！");
            })
        },
        computed: {
            picUrl() {
                return function (index) {
                    var _that = this;
                    var shop = _that.orderList[index].shopVo;
                    if (_that.orderList[index].shopVo.images.length > 0) {
                        return "/ShopWeb/image/" + shop.id + "/" + shop.images.split(",")[0];
                    } else {
                        return "";
                    }
                }
            },
            ItemsSum() {
                return function (index) {
                    return (this.orderList[index].shopItemNum * this.orderList[index].shopVo.shopItems[0].price).toFixed(2);
                }
            },
            orderListNum() {
                return this.orderList.length;
            },
            sumPrice() {
                var _that = this;
                var sum = 0.00;
                _that.orderList.forEach(function (cart) {
                    sum = sum + cart.shopItemNum * cart.shopVo.shopItems[0].price;
                });
                return sum.toFixed(2);
            },
            receiverLabel() {
                return function (receiver) {
                    let address = receiver.address.length <= 15 ? receiver.address : receiver.address.substr(0, 15) + "...";
                    var label = "收件人: " + receiver.receiver + " 电话: " + receiver.phoneNumber + " 地址: " + address;
                    return label;
                }
            }
        },
        methods: {
            createOrder() {
                var _that = this;
                axios({
                    method: "post",
                    url: "/ShopWeb/order/createOrder",
                    data: {
                        itemIds: _that.ids,
                        receiveInfoId: _that.receiveInfoId
                    }
                }).then(function (value) {
                    if (!value.data.success) {
                        _that.$message.error(value.data.message);
                        return;
                    }
                    _that.toPayPage(value.data.content.id);
                }).catch(function (reason) {
                    console.log(reason);
                    _that.$message.error("确认订单错误！！");
                })

            },
            toPayPage(id) {
                this.$refs.orderId.setAttribute("value", id);
                this.$refs.toPayPageForm.submit();
            },
            receiverChange(value){
                if (value === 0) {
                    this.newDialogFormVisible = true;
                }
            },
            addNewReceiverInfo() {
                var _that = this;
                _that.$refs.newReceiverForm.validate().then(
                    function () {
                        _that.newDialogFormVisible = false;
                        axios({
                            method: "post",
                            url: "/ShopWeb/user/addNewReceiver",
                            data: _that.newReceiverInfo
                        }).then(function (value) {
                            if (value.data.success) {
                                _that.receivers.push(value.data.content);
                                _that.receiveInfoId = value.data.content.id;
                                _that.$message.success(value.data.message);
                            } else {
                                _that.$message.error(value.data.message);
                            }
                        }).catch(function (reason) {
                            console.log(reason);
                            _that.$message.error("添加新收件地址错误！！");
                        })
                    }
                ).catch(function (reason) {
                    console.log(reason);
                    _that.$message.error("请完善表单");
                })
            }

        }
    })
</script>
</html>