<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>[[${payResult.message}]]</title>
    <script th:src="@{/js/jquery-3.4.1.js}"></script>
    <script th:src="@{/webjars/vue/2.6.11/dist/vue.js}"></script>
    <script th:src="@{/webjars/element-ui/2.13.0/lib/index.js}"></script>
    <script src="" th:src="@{/js/bootstrap.js}"></script>
    <script src="" th:src="@{/js/axios.min.js}"></script>
    <link th:href="@{/webjars/element-ui/2.13.0/lib/theme-chalk/index.css}" rel="stylesheet">
    <link href="" rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <script th:inline="javascript" type="text/javascript">
        var ctx = [[${#httpServletRequest.getContextPath()}]];
    </script>
</head>
<body>
<div th:replace="toolBar/topNavBar::topNavBar"></div>
<div id="app">
    <div style="margin: auto">
        <h1 style="text-align: center">
            [[${payResult.content}]]
        </h1>
    </div>
</div>
</body>
<script th:src="@{/js/toolBar/topNavBar.js}"></script>
<script>
    new Vue({
        el: "#app",
        data: {
        },
        methods: {
        }
    })
</script>
</html>