.main-fra {
    width: 50%;
    margin: auto;
}

.title {
    color: red;
    text-align: center
}

.outsideFrame{

}
.item-fra{
    height: 120px;
    padding: 15px;
    margin: 5px 0;
    border: 1px solid gray;
}
.item-receiveInfo{
    font-size: 20px;
    overflow: hidden;
}

.add-receiver{
    height: 30px;
    padding: 5px;
    margin: 5px 0;
    text-align: center;
    border: 1px solid gray;
}
.action-button{
    position: absolute;
    top: 0;
    right: 0;
}