<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>topNavBar.html</title>
    <script th:src="@{/js/jquery-3.4.1.js}"></script>
    <script th:src="@{/webjars/vue/2.6.11/dist/vue.js}"></script>
    <script th:src="@{/webjars/element-ui/2.13.0/lib/index.js}"></script>
    <script src="" th:src="@{/js/bootstrap.js}"></script>
    <script src="" th:src="@{/js/axios.min.js}"></script>
    <link th:href="@{/webjars/element-ui/2.13.0/lib/theme-chalk/index.css}" rel="stylesheet">
    <link th:href="@{/css/goodsDetail.css}" rel="stylesheet">
    <link href="" rel="stylesheet" th:href="@{/css/bootstrap.css}">

</head>
<body>
<div th:fragment="topNavBar" style="height: 51px; margin-bottom: 20px" id="topNavBar">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!--回到首页-->
            <div class="navbar-header">
                <a class="navbar-brand" href="#" th:href="@{/}">ShopWeb</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">为你推荐<span class="sr-only">(current)</span></a></li>
                    <li><a href="#">猜你喜欢</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">分类 <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="navbar-form navbar-left">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>

                <input id="isAuthenticated" hidden="hidden" th:value="${#authentication.getName()!='anonymousUser'}">
                <ul class="nav navbar-nav navbar-right" v-if="isAuthenticated === 'true'">
                    <!--已登陆-->
                    <li>
                        <div style="padding: 15px;line-height: 20px;">
                            欢迎你,<a href="#" th:href="@{/user/getUserCenterPage}" sec:authentication="name"></a>
                        </div>
                    </li>
                    <li>
                        <a  th:href="@{/cart/cartPage}" style="color: red" target="_blank"><i class="el-icon-shopping-cart-full"></i>购物车</a>
                    </li>
                    <li>
                        <a href="#" @click.prevent="logout">注销</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right" v-else>
                    <!--未登陆-->
                    <li>
                        <div style="padding: 15px;line-height: 20px">
                            欢迎你,<a href="#" th:href="@{/userLogin}" >请登录</a>
                        </div>
                    </li>
                    <li>
                        <a href="#" th:href="@{/userRegister}" >注册</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
</body>


</html>