<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>[[${goods.name}]]</title>
    <script th:src="@{/js/jquery-3.4.1.js}"></script>
    <script th:src="@{/webjars/vue/2.6.11/dist/vue.js}"></script>
    <script th:src="@{/webjars/element-ui/2.13.0/lib/index.js}"></script>
    <script src="" th:src="@{/js/bootstrap.js}"></script>
    <script src="" th:src="@{/js/axios.min.js}"></script>
    <link th:href="@{/webjars/element-ui/2.13.0/lib/theme-chalk/index.css}" rel="stylesheet">
    <link th:href="@{/css/goods/goodsDetail.css}" rel="stylesheet">
    <link href="" rel="stylesheet" th:href="@{/css/bootstrap.css}">

</head>

<body>
<div>
    <div th:replace="toolBar/topNavBar :: topNavBar"></div>
    <input id="goodId" hidden="hidden" th:value="${goods.id}">
    <el-container id="app" style="width: 70% ;margin: auto">

        <el-container direction="horizontal">
            <el-aside>
                <div class="demo-image__preview " style=" border: 1px solid gray;">
                    <el-image
                            :src="goodsImgUrl"
                            :preview-src-list="goodsImgUrlList">
                    </el-image>
                </div>
            </el-aside>
            <el-main>
                <!--商品信息模块-->
                <div class="goods-detail-name">
                    {{goodsDetail.name}}
                </div>
                <div>
                    <div style="overflow: auto; margin-top: 10px ;margin-bottom: 10px">
                        <label>秒 杀 价 </label>
                        <span class="goods-detail-price"><span>￥</span><span style="font-size: large">{{goodsDetail.price}}</span></span>
                        <span class="goods-detail-price">[<del>￥{{goodsDetail.price}}</del>]</span>
                    </div>
                </div>

                <!--商品规格-->
                <!--规格选择-->
                <div class="goods-detail-name">
                    规格选择
                </div>
                <!--规格信息-->
                <div style="margin-bottom: 15px">
                    规格信息
                </div>
                <!--加入购物车模块-->
                <div>
                    <div v-if="isNoStock">
                        <h4>商品太抢手~已经没有库存啦~</h4>
                    </div>
                    <div v-else>
                        <el-input-number v-model="goodsNum" :min="1" :max="goodsDetail.stock"
                                         controls-position="right" size="mini"
                                         style="margin-right: 15px"></el-input-number>
                        <el-button type="warning" size="small" @click="addGoods">加入购物车</el-button>
                        <el-button type="danger" size="small" @click="buySingleGoods">立即购买</el-button>
                    </div>
                </div>
                <a hidden="hidden" th:href="@{/order/orderPage}" ref="toOrderPage"></a>
            </el-main>
        </el-container>
        <!--评论-->
        <el-footer>评论</el-footer>
    </el-container>
</div>
</body>
<script th:src="@{/js/toolBar/topNavBar.js}"></script>
<script language="JavaScript">
    const app = new Vue({
        el: '#app',
        data: {
            goodsDetail: {},
            orderList: [],
            goodsImgUrlList: [],
            goodsNum: 1,
            isNoStock: true
        },
        mounted() {
            let url = "/ShopWeb/goods/goodsDetail/" + document.querySelector("#goodId").getAttribute("value");
            var _that = this;

            // 获取商品信息
            axios.get(url).then(function (response) {
                _that.goodsDetail = response.data;
                _that.goodsImgUrlList.unshift("/ShopWeb/image/" + _that.goodsDetail.id + ".jpg");
                _that.isNoStock = _that.goodsDetail.stock <= 0;
            }).catch(function () {
                // handle 4xx
                _that.$message.error('获取商品信息失败！！');
            });
        },
        computed: {
            goodsImgUrl() {
                if (this.goodsDetail.id !== undefined) {
                    return "/ShopWeb/image/" + this.goodsDetail.id + ".jpg";
                }
                return ""
            }
        },
        methods: {
            addGoods() {
                var _that = this;
                axios({
                    method: "post",
                    url: "/ShopWeb/cert/addGoods",
                    data: {
                        goodsNum: _that.goodsNum,
                        goodsId: _that.goodsDetail.id
                    }
                }).then(function (value) {
                    if (value.data.success) {
                        _that.$message.success(value.data.message);
                    } else {
                        _that.$message.error(value.data.message);
                    }
                }).catch(function (reason) {
                    console.log(reason);
                    _that.$message.error('添加购物车错误！！');
                });

            },
            buySingleGoods() {
                var _that = this;
                axios({
                    method: "post",
                    url: "/ShopWeb/cert/buySingleGoods",
                    data: {
                        goodsNum: _that.goodsNum,
                        goodsId: _that.goodsDetail.id
                    }
                }).then(function (value) {
                    if (value.data.success) {
                        _that.orderList.push(value.data.content);
                        sessionStorage.setItem("orderList", JSON.stringify(_that.orderList));
                        _that.$refs.toOrderPage.click();
                    } else {
                        _that.$message.error(value.data.message);
                    }
                }).catch(function (reason) {
                    console.log(reason);
                    _that.$message.error('立即购买错误！！');
                });
            }
        }

    })
</script>
</html>