<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>个人中心</title>

    <script th:src="@{/js/jquery-3.4.1.js}"></script>
    <script th:src="@{/webjars/vue/2.6.11/dist/vue.js}"></script>
    <script th:src="@{/webjars/element-ui/2.13.0/lib/index.js}"></script>
    <script src="" th:src="@{/js/bootstrap.js}"></script>
    <script src="" th:src="@{/js/axios.min.js}"></script>
    <link th:href="@{/webjars/element-ui/2.13.0/lib/theme-chalk/index.css}" rel="stylesheet">
    <link href="" rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link href="" rel="stylesheet" th:href="@{/css/user/center.css}">
    <script th:inline="javascript" type="text/javascript">
        var ctx = [[${#httpServletRequest.getContextPath()}]];
    </script>
</head>
<body>
<div th:replace="toolBar/topNavBar::topNavBar"></div>
<div style="width: 70%;margin: auto; height: 660px" id="app">
    <!--center_header-->
    <div class="center_header">
        <!--钱包-->
        <div class=" wallet left-order">
            <div>
                <span style="font-size: 20px">我的钱包</span>
            </div>
            <el-divider style="margin: 10px 0"></el-divider>
            <div class="item left-order">
                <h3 style="color: red" ref="balance">
                    &yen;[[${userInfo.balance.toString()}]]
                </h3>
                <div style="margin-top: 15px">余额</div>
            </div>
            <div class="text-item left-order">
                <a @click.prevent="rechargeDialogVisible=true">充值</a>
            </div>
        </div>
        <!--头像-->
        <div class=" headImg left-order">
            <el-avatar icon="el-icon-user-solid" :size="100" style="font-size: 80px; margin-left: 30px"></el-avatar>
            <!--<div>todo 使用用户上传的头像-->
            <!--<el-avatar src="https://cube.elemecdn.com/0/88/03b0d39583f48206768a7534e55bcpng.png"></el-avatar>-->
            <!--</div>-->
            <div class="userName">
                <a sec:authentication="name" style="color: white;"></a>
            </div>
        </div>
        <!--设置-->
        <div class=" right-bar left-order">
            <div class="left-order concerned">
                <div>
                    <span style="font-size: 20px">我的收藏</span>
                </div>
                <el-divider style="margin: 10px 0"></el-divider>
                <div class="item left-order">
                    <h3>
                        <a th:href="getCollectPage" target="_blank">{{collectShopNumber}}</a>
                    </h3>
                    <div style="margin-top: 15px">收藏的店铺</div>
                </div>
                <div class="item left-order">
                    <h3>
                        <a>0<!--todo 需要补充收藏功能--></a>
                    </h3>
                    <div style="margin-top: 15px">收藏的商家</div>
                </div>
            </div>
            <el-divider direction="vertical"></el-divider>
            <div class="left-order setting">
                <div>
                    <span style="font-size: 20px">我的设置</span>
                </div>
                <el-divider style="margin: 10px 0"></el-divider>
                <div class="text-item left-order">
                    <a th:href="@{/user/getReceiveSettingPage}">收货地址</a>
                </div>
                <div class="text-item left-order">
                    <a th:href="@{/user/toEnterpriseCenter}">商家中心</a>
                </div>
            </div>
        </div>
    </div>

    <!--center_order-->
    <div class=" order-fra">
        <div>
            <span style="font-size: 20px">我的订单</span>
            <a class="order-more" th:href="@{getTotalOrderPage}" target="_blank"><i class="el-icon-more"> 所有订单</i></a>
        </div>
        <el-divider style="margin: 10px 0"></el-divider>

        <el-tabs type="border-card">
            <el-tab-pane label="待付款">
                <div v-if="orderList.unPayList.length === 0" class="none-fra">
                    钱包很满，手很痒~
                </div>
                <div v-else class="th-Border">
                    <div class="left-order th-order">序号</div>
                    <div class="left-order th-goods">商品</div>
                    <div class="left-order th-quantity">数量</div>
                    <div class="left-order th-sum">总价</div>
                    <div class="left-order th-action">操作</div>
                </div>

                <div class="order-item-fra" v-for="(order,index) in orderList.unPayList" :key="index">


                    <div class="left-order th-order item-height">
                        {{index+1}}
                    </div>
                    <div class="left-order  th-goods">
                        <div class="item-image" style="width: 130px">
                            <el-image :src="picUrl(order.orderCells[0].shopVo)"></el-image>
                        </div>
                        <div class="item-name">
                            <a :href="orderDetailUrl(order.id)" target="_blank">{{order.orderCells[0].shopVo.shopItems[0].name}}等</a>
                        </div>
                    </div>
                    <div class="left-order th-quantity item-height">
                        共{{order.orderCells.length}}件商品
                    </div>
                    <div class="left-order th-sum item-height">
                        <em style="color:red; font-size: 20px">&yen;{{order.sumPrice}}</em>
                    </div>
                    <div class="left-order th-action item-height">
                        <a style="margin: 15px 15px" @click.prevent="toPayPage(order.id)">
                            去支付
                        </a>
                        <a @click.prevent="orderCancel(index)">
                            取消订单
                        </a>
                    </div>
                </div>
            </el-tab-pane>

            <el-tab-pane label="待发货">
                <div v-if="orderList.unSendList.length === 0" class="none-fra">
                    还没付款，货不来~
                </div>
                <div v-else class="th-Border">
                    <div class="left-order th-order">序号</div>
                    <div class="left-order th-goods">商品</div>
                    <div class="left-order th-quantity">数量</div>
                    <div class="left-order th-sum">总价</div>
                    <div class="left-order th-action">操作</div>
                </div>

                <div class="order-item-fra" v-for="(order,index) in orderList.unSendList" :key="index">


                    <div class="left-order th-order item-height">
                        {{index+1}}
                    </div>
                    <div class="left-order  th-goods">
                        <div class="item-image" style="width: 130px">
                            <el-image :src="picUrl(order.orderCells[0].shopVo)"></el-image>
                        </div>
                        <div class="item-name">
                            <a :href="orderDetailUrl(order.id)" target="_blank">{{order.orderCells[0].shopVo.shopItems[0].name}}等</a>
                        </div>
                    </div>
                    <div class="left-order th-quantity item-height">
                        共{{order.orderCells.length}}件商品
                    </div>
                    <div class="left-order th-sum item-height">
                        <em style="color:red; font-size: 20px">&yen;{{order.sumPrice}}</em>
                    </div>
                    <div class="left-order th-action item-height">
                        <a style="margin: 15px 15px">
                            催他发货<!--todo 催他发货功能-->
                        </a>
                        <a @click.prevent="orderRefundApply('unSendList',index)">
                            申请退款
                        </a>
                    </div>
                </div>
            </el-tab-pane>

            <el-tab-pane label="待收货">
                <div v-if="orderList.unReceiveList.length === 0" class="none-fra">
                    还不发货，心很急~
                </div>
                <div v-else class="th-Border">
                    <div class="left-order th-order">序号</div>
                    <div class="left-order th-goods">商品</div>
                    <div class="left-order th-quantity">数量</div>
                    <div class="left-order th-sum">总价</div>
                    <div class="left-order th-action">操作</div>
                </div>

                <div class="order-item-fra" v-for="(order,index) in orderList.unReceiveList" :key="index">


                    <div class="left-order th-order item-height">
                        {{index+1}}
                    </div>
                    <div class="left-order  th-goods">
                        <div class="item-image" style="width: 130px">
                            <el-image :src="picUrl(order.orderCells[0].shopVo)"></el-image>
                        </div>
                        <div class="item-name">
                            <a :href="orderDetailUrl(order.id)" target="_blank">{{order.orderCells[0].shopVo.shopItems[0].name}}等</a>
                        </div>
                    </div>
                    <div class="left-order th-quantity item-height">
                        共{{order.orderCells.length}}件商品
                    </div>
                    <div class="left-order th-sum item-height">
                        <em style="color:red; font-size: 20px">&yen;{{order.sumPrice}}</em>
                    </div>
                    <div class="left-order th-action item-height">
                        <a style="margin: 15px 15px" @click.prevent="orderReceive(index)">
                            确认收件
                        </a>
                        <a @click.prevent="orderRefundApply('unReceiveList',index)">
                            申请退款
                        </a>
                    </div>
                </div>

            </el-tab-pane>

            <el-tab-pane label="待评价">待评价</el-tab-pane><!--todo 待评价-->

            <el-tab-pane label="退款">
                <div v-if="orderList.refundList.length === 0" class="none-fra">
                    良心商家，欢迎售后~
                </div>
                <div v-else class="th-Border">
                    <div class="left-order th-order">序号</div>
                    <div class="left-order th-goods">商品</div>
                    <div class="left-order th-quantity">数量</div>
                    <div class="left-order th-sum">总价</div>
                    <div class="left-order th-action">操作</div>
                </div>

                <div class="order-item-fra" v-for="(order,index) in orderList.refundList" :key="index">


                    <div class="left-order th-order item-height">
                        {{index+1}}
                    </div>
                    <div class="left-order  th-goods">
                        <div class="item-image" style="width: 130px">
                            <el-image :src="picUrl(order.orderCells[0].shopVo)"></el-image>
                        </div>
                        <div class="item-name">
                            <a :href="orderDetailUrl(order.id)" target="_blank">{{order.orderCells[0].shopVo.shopItems[0].name}}等</a>
                        </div>
                    </div>
                    <div class="left-order th-quantity item-height">
                        共{{order.orderCells.length}}件商品
                    </div>
                    <div class="left-order th-sum item-height">
                        <em style="color:red; font-size: 20px">&yen;{{order.sumPrice}}</em>
                    </div>
                    <div class="left-order th-action item-height">
                        <a style="margin: 15px 15px">
                            催他处理
                        </a>
                    </div>
                </div>
            </el-tab-pane>
        </el-tabs>
    </div>

    <form th:action="@{/order/payPage}" method="get" ref="toPayPageForm">
        <input hidden="hidden" th:value="${session.SW_USER_TOKEN}" name="SW_USER_TOKEN">
        <input hidden="hidden" name="orderId" ref="orderId" value="">
    </form>

    <!--余额充值对话框-->
    <el-dialog title="余额充值" :visible.sync="rechargeDialogVisible">
        <div style="margin-top: 10px">
            <div style="font-size:20px ">支付方式：</div>
            <el-radio-group v-model="payType" style="margin-top: 5px">
                <el-radio-button label="测试"></el-radio-button>
                <el-radio-button label="微信"></el-radio-button>
                <el-radio-button label="支付宝"></el-radio-button>
                <el-radio-button label="QQ"></el-radio-button>
            </el-radio-group>
        </div>
        <el-form :model="rechargeForm" :rules="rules" ref="rechargeFormRef">
            <el-form-item label="充值金额" prop="balance">
                <el-input v-model="rechargeForm.balance" @blur="formatToDouble"></el-input>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click="rechargeDialogVisible = false">取 消</el-button>
            <el-button type="primary" @click="submitRechargeForm">确 定</el-button>
        </div>
    </el-dialog>

</div>
</body>
<script th:src="@{/js/toolBar/topNavBar.js}"></script>
<script th:src="@{/js/user/center.js}"></script>
</html>