<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>用户注册界面</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script th:src="@{/js/jquery-3.4.1.js}"></script>
    <script th:src="@{/webjars/vue/2.6.11/dist/vue.js}"></script>
    <script th:src="@{/webjars/element-ui/2.13.0/lib/index.js}"></script>
    <script src="" th:src="@{/js/bootstrap.js}"></script>
    <script src="" th:src="@{/js/axios.min.js}"></script>
    <link th:href="@{/webjars/element-ui/2.13.0/lib/theme-chalk/index.css}" rel="stylesheet">
    <link href="" rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <script th:inline="javascript" type="text/javascript">
        var ctx = [[${#httpServletRequest.getContextPath()}]];
    </script>
</head>
<body>
<div class="container">
    <div style="width: 300px ;margin: auto;">
        <form th:action="@{/userRegister}" method="post">
            <div>
                <h2 style=" text-align: center ;margin: 20px">用户注册</h2>
            </div>
            <div class="form-group">
                <label >User name</label>
                <input class="form-control" name="username" placeholder="UserName">
                <label th:if="${errMsg!=null&&errMsg.username!=null}" style="color: red">[[${errMsg.username}]]</label>
            </div>
            <div class="form-group">
                <label >Email address</label>
                <input type="email" class="form-control" name="email" placeholder="Email">
            </div>
            <div class="form-group">
                <label >Password</label>
                <input type="password" class="form-control" name="password" placeholder="Password">
            </div>
            <!--<label>-->
                <!--用户类型：-->
            <!--</label>-->
            <!--<label class="radio-inline">-->
                <!--<input type="radio" name="role" value="ROLE_USER" checked="checked"> 一般用户-->
            <!--</label>-->
            <!--<label class="radio-inline">-->
                <!--<input type="radio" name="role" value="ROLE_SHOP"> 商家-->
            <!--</label>-->
            <div style=" text-align: center; margin-top: 16px"  >
                <button type="submit" class="btn btn-primary btn-block">注册</button>
            </div>

        </form>
        <a  th:href="@{/userLogin}" style=" text-align: center; margin-top: 6px;float: right" >
            已有账号，去登录
        </a>
    </div>

</div>
</body>
</html>

