<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--<meta name="ctx" th:content="${#httpServletRequest.getContextPath()}">-->
    <title>购物车</title>
    <script th:src="@{/js/jquery-3.4.1.js}"></script>
    <script th:src="@{/webjars/vue/2.6.11/dist/vue.js}"></script>
    <script th:src="@{/webjars/element-ui/2.13.0/lib/index.js}"></script>
    <script src="" th:src="@{/js/bootstrap.js}"></script>
    <script src="" th:src="@{/js/axios.min.js}"></script>
    <link th:href="@{/webjars/element-ui/2.13.0/lib/theme-chalk/index.css}" rel="stylesheet">
    <link th:href="@{/css/cart/cartPage.css}" rel="stylesheet">
    <link href="" rel="stylesheet" th:href="@{/css/bootstrap.css}">
</head>
<body>
<div th:replace="toolBar/topNavBar::topNavBar"></div>
<div id="app">
    <el-container style="width: 70% ;margin: auto">
        <el-header style="margin-bottom: 15px">
            <h1 style="color: red">
                <div style="margin: auto ;width: fit-content">购物车<i class="el-icon-shopping-cart-full"></i></div>
            </h1>
        </el-header>
        <el-main style="height: fit-content">
            <div v-if="cartIsEmpty">
                <div>
                    <ul>
                        <li class="txt">
                            购物车空空的哦~，去看看心仪的商品吧~
                        </li>
                        <li class="mt10">
                            <a th:href="@{/}" class="ftx-05">
                                去购物&gt;
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div v-else>
                <div>
                    <div class="cart-filter-bar">
                        <div class="switch-cart-item curr">
                            <h3 style="color: red">全部商品<span class="number"> {{cartList.length}}</span></h3>
                        </div>
                    </div>
                </div>
                <div>
                    <div>
                        <!--商品信息头-->
                        <div class="barBorder">
                            <div class="select-all">
                                <div><input type="checkbox" :checked="select_all" @click="select_all_click"> 全选</div>
                            </div>
                            <div class="t-column t-goods">商品</div>
                            <div class="t-column t-props"></div>
                            <div class="t-column t-price">单价</div>
                            <div class="t-column t-quantity">数量</div>
                            <div class="t-column t-sum">小计</div>
                            <div class="t-column t-action">操作</div>
                        </div>

                        <!--商品信息栏-->
                        <div class="cartBarBorder" v-for="(cart,index) in cartList" :key="index">
                            <div class="selectItem">
                                <input type="checkbox" v-model="selectedList" :value="cart.id">
                            </div>
                            <div class="column cart-goods">
                                <el-image fit="fill" :src="picUrl(index)" lazy ></el-image>
                            </div>
                            <div class="column cart-props">
                                <a :href="'/ShopWeb/shop/detailPage?shopId=' + cart.shopVo.id" target="_blank">{{cart.shopVo.shopItems[0].name}}</a>
                            </div>
                            <div class="column cart-price">{{cart.shopVo.shopItems[0].price.toFixed(2)}}</div>
                            <div class="column cart-quantity">
                                <el-input-number size="mini" v-model="cart.shopItemNum" :min="1"
                                                 :max="cart.shopVo.shopItems[0].stock"
                                                 @change="updateNum(index)"></el-input-number>
                            </div>
                            <div class="column cart-sum">{{ItemsSum(index)}}</div>
                            <div class="column cart-action">
                                <a @click="deleteItem(index)">
                                    <i class="el-icon-delete"></i>删除
                                </a>
                            </div>
                        </div>

                        <!--结算栏-->
                        <div class="barBorder">
                            <div class="select-all">
                                <div><input type="checkbox" :checked="select_all" @click="select_all_click"> 全选</div>
                            </div>
                            <div class="operation">
                                <a @click.prvent="delete_selected">删除选中商品</a>
                            </div>
                            <div class="normal">
                                <div class="btn-area">
                                    <el-button type="danger" icon="el-icon-s-order" @click="asOrder">结算</el-button>
                                </div>
                                <div class="price-sum">
                                    <div>
                                        <span>总价：</span>
                                        <span><em>¥{{sumPrice}}</em></span>
                                    </div>
                                </div>
                                <div class="amount-sum">
                                    已选择<em style="color: red"> {{selectedListNum}} </em>件商品
                                </div>
                            </div>
                        </div><!--结算栏-->
                    </div>
                </div>
            </div>
            <form ref="selectedListForm" action="/ShopWeb/order/orderPage" method="post">
                <input hidden="hidden" v-model="selectedList" name="ids">
            </form>

        </el-main>
    </el-container>
</div>
</body>

<script th:src="@{/js/toolBar/topNavBar.js}"></script>
<script>
    new Vue({
        el: "#app",
        data: {
            cartList: [],
            selectedList: []
        },
        mounted() {
            var _that = this;
            axios.get("cartsList").then(function (response) {
                if (response.data.success) {
                    _that.cartList = response.data.content;
                } else {
                    _that.$message.error(response.data.message);
                }
            }).catch(function (reason) {
                console.log(reason);
                _that.$message.error("获取购物车列表错误！");
            })
        },
        computed: {
            picUrl() {
                return function (index) {
                    var _that = this;
                    var shop = _that.cartList[index].shopVo;
                    if (_that.cartList[index].shopVo.images.length > 0) {
                        return "/ShopWeb/image/" + shop.id + "/" + shop.images.split(",")[0];
                    } else {
                        return "";
                    }
                }
            },
            ItemsSum() {
                return function (index) {
                    return (this.cartList[index].shopItemNum * this.cartList[index].shopVo.shopItems[0].price).toFixed(2);
                }
            },
            select_all() {
                return this.cartList.length === this.selectedList.length
            },
            selectedListNum() {
                return this.selectedList.length;
            },
            sumPrice() {
                var _that = this;
                var sum = 0.00;
                _that.cartList.forEach(function (cart) {
                    if (_that.selectedList.indexOf(cart.id) >= 0) {
                        sum = sum + cart.shopItemNum * cart.shopVo.shopItems[0].price;
                    }
                });
                return sum.toFixed(2);
            },
            cartIsEmpty() {
                return !(this.cartList.length > 0);
            }
        },
        methods: {
            select_all_click(event) {
                if (event.target.checked) {
                    var ids = [];
                    this.cartList.forEach(
                        function (item) {
                            ids.push(item.id);
                        }
                    );
                    this.selectedList = ids;
                }
                else {
                    this.selectedList = [];
                }
            },
            deleteItem(index) {
                var _that = this;
                axios.delete("deleteItem/" + _that.cartList[index].id).then(function (value) {
                    if (value.data.success) {
                        let s_index = _that.selectedList.indexOf(_that.cartList[index].id);
                        if (s_index >= 0) {
                            _that.selectedList.splice(s_index, 1);
                        }
                        _that.cartList.splice(index, 1);
                        _that.$message.success("删除成功！");
                    } else {
                        _that.$message.error(value.data.message);
                    }
                }).catch(function (reason) {
                    console.log(reason);
                    _that.$message.error("删除物品错误！");
                })
            },
            delete_selected() {
                var _that = this;
                axios({
                    method: "delete",
                    url: "deleteItems",
                    data: {
                        itemIds: _that.selectedList
                    }
                }).then(function (response) {
                    if (response.data.success) {
                        let tempList = [];
                        _that.cartList.forEach(function (item) {
                            if (_that.selectedList.indexOf(item.id) < 0) {
                                tempList.push(item);
                            }
                        });
                        _that.cartList = tempList;
                        _that.selectedList = [];
                        _that.$message.success(response.data.message);
                    } else {
                        _that.$message.error(response.data.message);
                    }
                }).catch(function (reason) {
                    console.log(reason);
                    _that.$message.error("删除物品错误！");
                })
            },
            updateNum(index) {
                var _that = this;
                axios({
                    method: "put",
                    url: "updateItemNum",
                    data: _that.cartList[index]
                }).then(function (value) {
                    if (!value.data.success) {
                        _that.$message.error(value.data.message);
                    }
                }).catch(function (reason) {
                    console.log(reason);
                    _that.$message.error("更新购物车物品数量错误！");
                })
            },
            asOrder() {
                var _that = this;
                if (_that.selectedList.length === 0) {
                    _that.$message.error("亲~，还没选择商品哦~");
                    return;
                }
                _that.$refs.selectedListForm.submit();
            }
        }
    })
</script>
</html>