<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>errorPage</title>
    <script th:src="@{/js/jquery-3.4.1.js}"></script>
    <script th:src="@{/webjars/vue/2.6.11/dist/vue.js}"></script>
    <script th:src="@{/webjars/element-ui/2.13.0/lib/index.js}"></script>
    <script src="" th:src="@{/js/bootstrap.js}"></script>
    <script src="" th:src="@{/js/axios.min.js}"></script>
    <link th:href="@{/webjars/element-ui/2.13.0/lib/theme-chalk/index.css}" rel="stylesheet">
    <link th:href="@{/css/goods/goodsDetail.css}" rel="stylesheet">
    <link href="" rel="stylesheet" th:href="@{/css/bootstrap.css}">
</head>
<body>
<div style="width: 50%;margin: auto">
    <div th:replace="toolBar/topNavBar :: topNavBar"></div>
    <div style="color: red;text-align: center">
        <h1>发生错误啦~~~</h1>
    </div>
    <div style=" margin-top: 15px">
        timestamp:<br>[[${timestamp}]]
    </div>
    <div style=" margin-top: 15px">
        status:<br>[[${status}]]
    </div>
    <div style=" margin-top: 15px">
        error:<br>[[${error}]]
    </div>
    <div style=" margin-top: 15px">
        exception:<br>[[${exception}]]
    </div>
    <div style=" margin-top: 15px">
        message:<br>[[${message}]]
    </div>
    <div style=" margin-top: 15px">
        trace:<br>[[${trace}]]
    </div>
</div>
</body>
<script th:src="@{/js/toolBar/topNavBar.js}"></script>
</html>