<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="ctx" th:content="${#httpServletRequest.getContextPath()}">
    <title>Title</title>
    <script th:src="@{/js/jquery-3.4.1.js}"></script>
    <script th:src="@{/webjars/vue/2.6.11/dist/vue.js}"></script>
    <script th:src="@{/webjars/element-ui/2.13.0/lib/index.js}"></script>
    <script src="" th:src="@{/js/bootstrap.js}"></script>
    <script src="" th:src="@{/js/axios.min.js}"></script>
    <link th:href="@{/webjars/element-ui/2.13.0/lib/theme-chalk/index.css}" rel="stylesheet">
    <link th:href="@{/css/certPageStyle.css}" rel="stylesheet">
    <link href="" rel="stylesheet" th:href="@{/css/bootstrap.css}">
</head>
<body>
<div th:replace="toolBar/topNavBar::topNavBar"></div>
<div id="app">
    <el-container id="app" style="width: 70% ;margin: auto">
        <el-header style="margin-bottom: 15px">
            <h1 style="color: red">
                <div style="margin: auto ;width: fit-content">购物车<i class="el-icon-shopping-cart-full"></i></div>
            </h1>
        </el-header>
        <el-main style="height: fit-content">
            <div v-if="isEmpty">
                <div>
                    <ul>
                        <li class="txt">
                            购物车空空的哦~，去看看心仪的商品吧~
                        </li>
                        <li class="mt10">
                            <a th:href="@{/}" class="ftx-05">
                                去购物&gt;
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div v-else>
                <div>
                    <div class="cart-filter-bar">
                        <div class="switch-cart-item curr">
                            <h3 style="color: red">全部商品<span class="number"> {{certList.length}}</span></h3>
                        </div>
                    </div>
                </div>
                <div>
                    <div>
                        <!--商品信息头-->
                        <div class="barBorder">
                            <div class="select-all">
                                <div><input type="checkbox"> 全选</div>
                            </div>
                            <div class="t-column t-goods">商品</div>
                            <div class="t-column t-props"></div>
                            <div class="t-column t-price">单价</div>
                            <div class="t-column t-quantity">数量</div>
                            <div class="t-column t-sum">小计</div>
                            <div class="t-column t-action">操作</div>
                        </div>

                        <!--商品信息栏-->
                        <div class="cartBarBorder" v-for="(cert,index) in certList" :key="index">
                            <div class="selectItem">
                                <input type="checkbox">
                            </div>
                            <div class="column cert-goods">
                                <el-image :src="picUrl(index)" lazy></el-image>
                            </div>
                            <div class="column cert-props">
                                <a >{{cert.goods.name}}</a></div>
                            <div class="column cert-price">{{cert.goods.price}}</div>
                            <div class="column cert-quantity">
                                <el-input-number size="mini" v-model="cert.goodsNum"></el-input-number>
                            </div>
                            <div class="column cert-sum">{{ItemsSum(index)}}</div>
                            <div class="column cert-action">
                                <a ><i class="el-icon-delete"></i>删除</a>
                            </div>
                        </div>

                        <!--结算栏-->
                        <div class="barBorder">
                            <div class="select-all">
                                <div><input type="checkbox"> 全选</div>
                            </div>
                            <div class="operation">
                                <a href="#none">删除选中商品</a>
                            </div>
                            <div class="normal">
                                <div class="btn-area">
                                    <el-button type="danger" icon="el-icon-s-claim">结算</el-button>
                                </div>
                                <div class="price-sum">
                                    <div>
                                        <span class="txt txt-new">总价：</span>
                                        <span class="price sumPrice">
										<em data-bind="199.00">¥199.00</em>
                                        </span>
                                    </div>
                                </div>
                                <div class="amount-sum">
                                    已选择<em>1</em>件商品
                                </div>
                            </div>
                        </div><!--结算栏-->
                    </div>
                </div>
            </div>


        </el-main>
    </el-container>
</div>
</body>

<script th:src="@{/js/toolBar.js}"></script>
<script>
    new Vue({
        el: "#app",
        data: {
            isEmpty: true,
            certList: []
        },
        mounted() {
            var username = JSON.parse(sessionStorage.getItem("userInfo")).username;
            console.log(username);
            var _that = this;
            axios.get("Certs/" + username).then(function (response) {
                _that.certList = response.data;
                if (_that.certList.length !== 0) {
                    _that.isEmpty = false;
                }
            }).catch(function (reason) {
                console.log(reason);
                _that.$message.error("获取购物车列表失败！");
            })
        },
        computed: {
            picUrl(){
                 return function (index) {
                    return "/ShopWeb/image/" + this.certList[index].goods.id + ".jpg";
                }
            },
            ItemsSum(){
                return function (index) {
                    return (this.certList[index].goodsNum*this.certList[index].goods.price).toFixed(2);
                }
            }
        },
        method: {}
    })
</script>
</html>