.product:hover .product-iWrap {
    height: auto;
    margin: -3px;
    border: 4px solid #ff0036;
    border-radius: 0;
}

.product-iWrap {
    min-height: 98%;
    width: 210px;
    position: absolute;
    background-color: #fff;
    margin: 0;
    padding: 4px 4px 0;
    font-size: 0;
    border: 1px solid #f5f5f5;
    border-radius: 3px;
}

.grid-nosku .product {
    height: 333px;
}

.view .product {
    width: 220px;
    margin-right: 20px;
}

.product {
    position: relative;
    float: left;
    padding: 0;
    margin: 0 0 20px;
    line-height: 1.5;
    overflow: visible;
    z-index: 1;
    height: 372px;
}

.productImg-wrap {
    position: relative;
    display: table;
    table-layout: fixed;
    height: 210px;
    width: 100%;
    padding: 0;
    margin: 0 0 5px;
}

.productPrice {
    color: #ff0036;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    margin: 0 0 5px;
}

.productTittle {
    color: #ff0036;
    font-size: 14px;
    width: 200px;
    height: 60px;
    margin: 0 0 5px;
    padding: 0 5px;
    overflow: hidden;
    word-wrap: break-word
}

.search-frag {
    width: 70%;
    margin: auto;

}

.bread-bar {
    margin: 15px 0;
}

.dictionary-bar {
    margin: 15px 0;
}

.dictionary-name {
    width: 100%;
    padding-left: 10px;
    margin: 15px 0;
}

.dictionary-value {
    width: 100%;
    padding-left: 20px;
    margin: 15px 0;
}

.dictionary-value-item {
    margin: 3px 40px;
}

.search-bar {
    margin: 15px 0;
    padding-left: 10px;
}
