<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title>购物网站ShopWeb</title>
    <script th:src="@{/js/jquery-3.4.1.js}"></script>
    <script th:src="@{/webjars/vue/2.6.11/dist/vue.js}"></script>
    <script th:src="@{/webjars/element-ui/2.13.0/lib/index.js}"></script>
    <script src="" th:src="@{/js/bootstrap.js}"></script>
    <script src="" th:src="@{/js/axios.min.js}"></script>
    <link th:href="@{/webjars/element-ui/2.13.0/lib/theme-chalk/index.css}" rel="stylesheet">
    <link th:href="@{/css/goodsDetail.css}" rel="stylesheet">
    <link href="" rel="stylesheet" th:href="@{/css/bootstrap.css}">


    <link rel="stylesheet"
          href="//g.alicdn.com/??mui/global/3.0.31/global.css"/>
    <link rel="stylesheet"
          href="//g.alicdn.com/??tm/list/2.25.18/mods/srp/cells/pin.css,tm/list/2.25.18/pages/layout.css,tm/list/2.25.18/pages/base.css,tm/list/2.25.18/pages/mui.css,tm/list/2.25.18/mods/error/error.css,tm/list/2.25.18/mods/tmall-rec.css,tm/list/2.25.18/mods/crumb/crumb.css,tm/list/2.25.18/mods/attr/attr.css,tm/list/2.25.18/mods/related/related.css,tm/list/2.25.18/mods/filter/filter.css,tm/list/2.25.18/mods/filter/couponfilter.css,tm/list/2.25.18/mods/locData.css,tm/list/2.25.18/mods/srp/grid.css,tm/list/2.25.18/pages/bts.css"/>
</head>
<body>

</div>
<div th:replace="toolBar/topNavBar :: topNavBar"></div>
<div>
    <div class="view grid-nosku " style="margin: auto">
        <div class="product " th:each="good:${pageInfo.list}">
            <div class="product-iWrap">
                <a class="productImg-wrap" th:href="@{/goods/goodsDetailPage/}+${good.id}" target="_blank">
                    <img src="" th:src="@{/image/}+${good.id}+.jpg"/>
                </a>

                <p class="productPrice">
                    &yen;[[${good.price}]]
                </p>

                <p class="productTittle">
                    <a th:href="@{/goods/goodsDetailPage/}+${good.id}" target="_blank">[[${good.name}]]</a>
                </p>
            </div>

        </div>

    </div>
    <nav aria-label="Page navigation" style="display: flex;justify-content: center">
        <ul class="pagination" style="margin-top: 0px">
            <li th:class="${pageInfo.isFirstPage}?disabled">
                <a href="#" th:href="@{/index/}+${pageInfo.pageNum - 1}" th:if="${!pageInfo.isFirstPage}"
                   aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
                <span aria-hidden="true" th:if="${pageInfo.isFirstPage}">&laquo;</span>
            </li>
            <li th:class="${pageInfo.pageNum==pageNum} ? 'active':'1'" th:each="pageNum:${pageInfo.navigatepageNums}">
                <a href="" th:href="@{/index/}+${pageNum}">[[${pageNum}]]</a>
            </li>
            <li th:class="${pageInfo.isLastPage}?disabled">
                <a href="#" th:href="@{/index/}+${pageInfo.pageNum + 1}" th:if="${!pageInfo.isLastPage}"
                   aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
                <span class="disabled" aria-hidden="true" th:if="${pageInfo.isLastPage}">&raquo;</span>
            </li>
        </ul>
    </nav>

</div>
</body>
<script th:src="@{/js/toolBar.js}"></script>
</html>

