<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
<script src="" th:src="@{/js/jquery-3.4.1.js}"></script>
<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
<script src="" th:src="@{/js/bootstrap.js}"></script>
<link href="" rel="stylesheet" th:href="@{/css/bootstrap.css}">



<link rel="stylesheet"
      href="//g.alicdn.com/??mui/global/3.0.31/global.css"/>
<link rel="stylesheet"
      href="//g.alicdn.com/??tm/list/2.25.18/mods/srp/cells/pin.css,tm/list/2.25.18/pages/layout.css,tm/list/2.25.18/pages/base.css,tm/list/2.25.18/pages/mui.css,tm/list/2.25.18/mods/error/error.css,tm/list/2.25.18/mods/tmall-rec.css,tm/list/2.25.18/mods/crumb/crumb.css,tm/list/2.25.18/mods/attr/attr.css,tm/list/2.25.18/mods/related/related.css,tm/list/2.25.18/mods/filter/filter.css,tm/list/2.25.18/mods/filter/couponfilter.css,tm/list/2.25.18/mods/locData.css,tm/list/2.25.18/mods/srp/grid.css,tm/list/2.25.18/pages/bts.css"/>
<body >

</div>
<div th:replace="toolBar/topNavBar :: topNavBar"></div>
    <div style="width: 100%;margin-top: 74px" >
        <div class="view grid-nosku " style="margin: auto">
            <div class="product " th:each="good:${pageInfo.list}">
                <div class="product-iWrap">
                    <div class="productImg-wrap">
                        <img src="" th:src="@{/image/}+${good.id}+.jpg"/>
                    </div>

                    <p class="productPrice">
                        &yen;[[${good.price}]]
                    </p>

                    <p class="productTittle">
                        <span>[[${good.name}]]</span>
                    </p>
                </div>

            </div>

        </div>
        <nav aria-label="Page navigation" style="display: flex;justify-content: center;height: 31px">
            <ul class="pagination" style="margin-top: 0px">
                <li th:class="${pageInfo.isFirstPage}?disabled">
                    <a href="#" th:href="@{/index/}+${pageInfo.pageNum - 1}" th:if="${!pageInfo.isFirstPage}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                    <span  aria-hidden="true" th:if="${pageInfo.isFirstPage}">&laquo;</span>
                </li>
                <li th:class="${pageInfo.pageNum==pageNum} ? 'active':'1'" th:each="pageNum:${pageInfo.navigatepageNums}">
                    <a href="" th:href="@{/index/}+${pageNum}">[[${pageNum}]]</a>
                </li>
                <li th:class="${pageInfo.isLastPage}?disabled">
                    <a href="#" th:href="@{/index/}+${pageInfo.pageNum + 1}" th:if="${!pageInfo.isLastPage}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                    <span class="disabled" aria-hidden="true" th:if="${pageInfo.isLastPage}">&raquo;</span>
                </li>
            </ul>
        </nav>

    </div>
</body>

