<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title id="s">购物网站ShopWeb</title>
    <script th:src="@{/js/jquery-3.4.1.js}"></script>
    <script th:src="@{/webjars/vue/2.6.11/dist/vue.js}"></script>
    <script th:src="@{/webjars/element-ui/2.13.0/lib/index.js}"></script>
    <script th:src="@{/js/bootstrap.js}"></script>
    <script th:src="@{/js/axios.min.js}"></script>
    <link th:href="@{/webjars/element-ui/2.13.0/lib/theme-chalk/index.css}" rel="stylesheet">
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet">
    <link th:href="@{/css/index.css}" rel="stylesheet"/>

</head>
<div th:replace="toolBar/topNavBar :: topNavBar"></div>
<div id="app" style="margin: auto;width: 79%">
    <div>
        <div class="view grid-nosku " >
            <div class="product" v-for="(shop,index) in pageInfo.list" :key="index">
                <div class="product-iWrap">
                    <a class="productImg-wrap" :href="'detailPage?shopId=' + shop.id" target="_blank">
                        <img :src="imgUrl(shop.id, shop.images)" style="object-fit: fill;height: 100%;width: 100%"/>
                    </a>
                    <div class="productPrice">
                        &yen;{{shop.price}}
                    </div>
                    <div class="productTittle">
                        <a :href="'detailPage?shopId=' + shop.id" target="_blank">
                            {{shop.shopName}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="display: inline-flex;  width: 100%">
        <el-pagination
                style="margin: auto"
                background
                layout="prev, pager, next"
                :total="pageInfo.total"
                @current-change="pageChange">
        </el-pagination>
    </div>


</div>
</body>
<script th:src="@{/js/toolBar/topNavBar.js}"></script>
<script>
    new Vue({
        el: "#app",
        data: {
            pageInfo: {
                list: []
            }
        },
        mounted() {
            this.pageChange(1);
        },
        computed: {
            imgUrl() {
                return function (shopId, images) {
                    if (images.split(",")[0].length > 0) {
                        return "/ShopWeb/image/" + shopId + "/" + images.split(",")[0];
                    } else {
                        return ""
                    }
                }
            }
        },
        methods:{
            pageChange(curPage){
                var _that = this;
                axios.get("list?pageNum=" + curPage).then(function (value) {
                    if (value.data.success) {
                        _that.pageInfo = value.data.content;
                    } else {
                        _that.$message.error(value.data.message);
                    }
                }).catch(function (reason) {
                    console.log(reason);
                    _that.$message.error("获取店铺列表错误！");
                });
            }
        }

    })
</script>
</html>

