<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liang.shoppingweb.mapper.shop.ShopVoMapper">


    <resultMap id="ShopVoMap" type="com.liang.shoppingweb.entity.shop.ShopVo">
        <id column="id" property="id"/>
        <result column="enterprise_id" property="enterpriseId"/>
        <result column="shop_name" property="shopName"/>
        <result column="describe" property="describe"/>
        <result column="type" property="type"/>
        <result column="style" property="style"/>
        <result column="price" property="price"/>
        <result column="images" property="images"/>
        <result column="enable" property="enable"/>
        <result column="create_date" property="createDate"/>
        <result column="update_date" property="updateDate"/>
        <collection property="shopItems" ofType="com.liang.shoppingweb.entity.shop.ShopItem" columnPrefix="item_"
                    resultMap="ShopItemMap"/>
    </resultMap>

    <resultMap id="ShopItemMap" type="com.liang.shoppingweb.entity.shop.ShopItem">
        <id column="id" property="id"/>
        <result column="shop_id" property="shopId"/>
        <result column="name" property="name"/>
        <result column="price" property="price"/>
        <result column="stock" property="stock"/>
        <result column="create_date" property="createDate"/>
        <result column="update_date" property="updateDate"/>
    </resultMap>

    <select id="getShopVoById" resultMap="ShopVoMap">
        SELECT
            s.id            id,
            s.enterprise_id enterprise_id,
            s.shop_name     shop_name,
            s.images        images,
            s.type          type,
            s.style         style,
            s.`describe`    `describe`,
            s.price         price,
            s.`enable`      `enable`,
            s.create_date   create_date,
            s.update_date   create_date,
            i.id            item_id,
            i.shop_id       item_shop_id,
            i.`name`        item_name,
            i.price         item_price,
            i.stock         item_stock,
            i.create_date   item_create_date,
            i.update_date   item_update_date
        FROM
            tbl_shop AS s
            left join  tbl_shop_item AS i ON s.id = i.shop_id
        WHERE
        s.id = #{id}
        order by i.create_date asc
    </select>
</mapper>