<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liang.shoppingweb.mapper.shop.ShopVoMapper">

    <sql id="column">
        s.id            id,
        s.enterprise_id enterprise_id,
        s.`name`        `name`,
        s.images        images,
        s.type          type,
        s.style         style,
        s.`describe`    `describe`,
        s.price         price,
        s.`enable`      `enable`,
        s.sales         sales,
        s.create_date   create_date,
        s.update_date   create_date,
        i.id            item_id,
        i.shop_id       item_shop_id,
        i.`name`        item_name,
        i.price         item_price,
        i.stock         item_stock,
        i.create_date   item_create_date,
        i.update_date   item_update_date
    </sql>

    <sql id="columnWithTagList">
        s.id            id,
        s.enterprise_id enterprise_id,
        s.`name`        `name`,
        s.images        images,
        s.type          type,
        s.style         style,
        s.`describe`    `describe`,
        s.price         price,
        s.`enable`      `enable`,
        s.sales         sales,
        t.id            tag_id,
        t.shop_id       tag_shop_id,
        t.dic_id        tag_dic_id,
        t.`name`        tag_name
    </sql>

    <resultMap id="ShopVoMap" type="com.liang.shoppingweb.entity.shop.ShopVo">
        <id column="id" property="id"/>
        <result column="enterprise_id" property="enterpriseId"/>
        <result column="name" property="name"/>
        <result column="describe" property="describe"/>
        <result column="type" property="type"/>
        <result column="style" property="style"/>
        <result column="price" property="price"/>
        <result column="images" property="images"/>
        <result column="enable" property="enable"/>
        <result column="sales" property="sales"/>
        <result column="create_date" property="createDate"/>
        <result column="update_date" property="updateDate"/>
        <!--<association property="collect" columnPrefix="collect" resultMap="CollectMap"/>-->
        <collection property="shopItems" ofType="com.liang.shoppingweb.entity.shop.ShopItem" columnPrefix="item_"
                    resultMap="ShopItemMap"/>
        <collection property="tagList" ofType="com.liang.shoppingweb.entity.common.Tag" columnPrefix="tag_"
                    resultMap="tagMap"/>
    </resultMap>

    <resultMap id="tagMap" type="com.liang.shoppingweb.entity.common.Tag">
        <id column="id" property="id"/>
        <result column="dic_id" property="dicId"/>
        <result column="shop_id" property="shopId"/>
        <result column="name" property="name"/>
    </resultMap>


    <resultMap id="ShopItemMap" type="com.liang.shoppingweb.entity.shop.ShopItem">
        <id column="id" property="id"/>
        <result column="shop_id" property="shopId"/>
        <result column="name" property="name"/>
        <result column="price" property="price"/>
        <result column="stock" property="stock"/>
        <result column="create_date" property="createDate"/>
        <result column="update_date" property="updateDate"/>
    </resultMap>

    <resultMap id="CollectMap" type="com.liang.shoppingweb.entity.user.Collect">
        <id column="id" property="id"/>
        <result column="shop_id" property="shopId"/>
        <result column="user_id" property="user_id"/>
        <result column="collect" property="collect"/>
    </resultMap>

    <select id="getShopVoById" resultMap="ShopVoMap">
        SELECT
        <include refid="column"/>
        FROM
        tbl_shop AS s
        left join tbl_shop_item AS i ON s.id = i.shop_id
        WHERE
        s.id = #{id} and
        s.enable = '1'
        order by i.create_date asc
    </select>


    <select id="getShopVoByItemId" resultMap="ShopVoMap">
        SELECT
        <include refid="column"/>
        FROM
        tbl_shop AS s
        inner join tbl_shop_item AS i ON s.id = i.shop_id
        WHERE
        s.id = #{itemId}
        order by i.create_date asc
    </select>

    <select id="getShopWithTagListByEnterpriseId" resultMap="ShopVoMap">
        SELECT
        <include refid="columnWithTagList"/>
        FROM
        tbl_shop AS s
        left join tbl_tag AS t ON s.id = t.shop_id
        order by s.create_date desc
    </select>

</mapper>