<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>我的店铺</title>
    <script th:src="@{/js/jquery-3.4.1.js}"></script>
    <script th:src="@{/webjars/vue/2.6.11/dist/vue.js}"></script>
    <script th:src="@{/webjars/vue-router/3.1.3/dist/vue-router.js}"></script>
    <script th:src="@{/webjars/element-ui/2.13.0/lib/index.js}"></script>
    <script src="" th:src="@{/js/bootstrap.js}"></script>
    <script src="" th:src="@{/js/axios.min.js}"></script>
    <link th:href="@{/webjars/element-ui/2.13.0/lib/theme-chalk/index.css}" rel="stylesheet">
    <link href="" rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link href="" rel="stylesheet" th:href="@{/css/enterprise/shopListPage.css}">
</head>
<body>
<div th:replace="toolBar/topNavBar::topNavBar"></div>
<div id="app" style="width: 85% ; margin: auto">
    <el-container>
        <el-header>
            <h1 style="color: red;text-align: center">我的店铺<i class="el-icon-s-shop"></i></h1>
        </el-header>
        <el-main>
            <div class="shop left-order" v-for="(shop,index) in shopList" :key="index">
                <el-image :src="shopImg(shop.id, shop.images)" class="shop-image left-order"> :fit="fill">
                    <div slot="error" class="image-slot shop-image-error">
                        请到编辑页面中添加图片
                    </div>
                </el-image>
                <div class="shop-right left-order">
                    <div class="shop-title">
                        {{shop.shopName}}
                    </div>
                    <div class="shop-edit">
                        <div class="shop-edit-info left-order">
                            <el-link type="primary" icon="el-icon-edit" @click="openUpdateShopDialog(index)">店铺信息
                            </el-link>
                        </div>
                        <div class="shop-edit-page left-order">
                            <el-link type="primary" icon="el-icon-edit">店铺页面</el-link>
                        </div>
                    </div>
                    <div class="shop-edit">
                        <div class="shop-enable left-order">
                            <el-switch
                                    v-model="shop.enable"
                                    active-text="启用店铺"
                                    active-value="1"
                                    inactive-value="0"
                                    @change="updateShopEnable(index)">
                            </el-switch>
                        </div>
                        <div class="shop-delete left-order">
                            <el-link type="danger" icon="el-icon-delete" @click="deleteShopById(index)">删除</el-link>
                        </div>

                    </div>
                </div>
            </div>

            <div class="shop left-order">
                <div class="shop-create left-order">
                    <el-link type="primary" icon="el-icon-plus" @click="createShopDialogVisible = true">添加新店铺</el-link>
                </div>
            </div>

            <!--新建店铺对话框-->
            <el-dialog title="添加新店铺" :visible.sync="createShopDialogVisible">
                <el-form :model="createShopForm" :rules="rules" ref="createShopFormRef">
                    <el-form-item label="店铺名（商品名）" prop="shopName">
                        <el-input v-model="createShopForm.shopName" autocomplete="off"></el-input>
                    </el-form-item>
                    <el-form-item label="商品种类" prop="type">
                        <el-select v-model="createShopForm.type" filterable placeholder="请选择商品种类" @change="createFormSelectType">
                            <el-option
                                    v-for="type in typeDic"
                                    :key="type.id"
                                    :label="type.name"
                                    :value="type.value">
                            </el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label="商品类型" prop="style">
                        <el-select v-model="createShopForm.style" filterable placeholder="请选择商品类型">
                            <el-option
                                    v-for="style in createFormStyleDic"
                                    :key="style.id"
                                    :label="style.name"
                                    :value="style.value">
                            </el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label="价格区间" prop="price">
                        <el-input v-model="createShopForm.price" autocomplete="off"></el-input>
                    </el-form-item>
                    <el-form-item label="商品描述" prop="describe">
                        <el-input type="textarea" v-model="createShopForm.describe" autocomplete="off"></el-input>
                    </el-form-item>
                </el-form>
                <div slot="footer" class="dialog-footer">
                    <el-button @click="createShopDialogVisible = false">取 消</el-button>
                    <el-button type="primary" @click="submitCreateShopForm">确 定</el-button>
                </div>
            </el-dialog>

            <!--修改店铺信息对话框-->
            <el-dialog title="编辑店铺信息" :visible.sync="updateShopDialogVisible">
                <!--一行三个-->
                <div>
                    最多上传6张图片~
                </div>
                <el-upload class="imageGallery"
                           :action="uploadShopImage"
                           list-type="picture-card"
                           :file-list="imageList"
                           :on-remove="removeImage"
                           :on-success="uploadImageSuccess">
                    <i class="el-icon-plus"></i>
                </el-upload>
                <el-form :model="updateShopForm" :rules="rules" ref="updateShopFormRef">
                    <el-form-item label="店铺名（商品名）" prop="shopName">
                        <el-input v-model="updateShopForm.shopName" autocomplete="off"></el-input>
                    </el-form-item>
                    <el-form-item label="商品种类" prop="type">
                        <el-select v-model="updateShopForm.type" filterable placeholder="请选择商品种类" @change="updateFormSelectType">
                            <el-option
                                    v-for="type in typeDic"
                                    :key="type.id"
                                    :label="type.name"
                                    :value="type.value">
                            </el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label="商品类型" prop="style">
                        <el-select v-model="updateShopForm.style" filterable placeholder="请选择商品类型">
                            <el-option
                                    v-for="style in updateFormStyleDic"
                                    :key="style.id"
                                    :label="style.name"
                                    :value="style.value">
                            </el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label="价格区间" prop="price">
                        <el-input v-model="updateShopForm.price" autocomplete="off"></el-input>
                    </el-form-item>
                    <el-form-item label="商品描述" prop="describe">
                        <el-input type="textarea" v-model="updateShopForm.describe" autocomplete="off"></el-input>
                    </el-form-item>
                </el-form>
                <div slot="footer" class="dialog-footer">
                    <el-button @click="updateShopDialogVisible = false">取 消</el-button>
                    <el-button type="primary" @click="submitUpdateShopForm">确 定</el-button>
                </div>
            </el-dialog>
        </el-main>
    </el-container>


</div>
</div>
</body>
<script th:src="@{/js/toolBar/topNavBar.js}"></script>
<script th:src="@{/js/enterprise/shopListPage.js}"></script>
</html>