<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title id="title">店铺页面</title>
    <script th:src="@{/js/jquery-3.4.1.js}"></script>
    <script th:src="@{/webjars/vue/2.6.11/dist/vue.js}"></script>
    <script th:src="@{/webjars/element-ui/2.13.0/lib/index.js}"></script>
    <script th:src="@{/webjars/vue-router/3.1.3/dist/vue-router.js}"></script>
    <script src="" th:src="@{/js/bootstrap.js}"></script>
    <script src="" th:src="@{/js/axios.min.js}"></script>
    <link th:href="@{/css/shop/shopSettingPage.css}" rel="stylesheet">
    <link th:href="@{/webjars/element-ui/2.13.0/lib/theme-chalk/index.css}" rel="stylesheet">
    <link href="" rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <script th:inline="javascript" type="text/javascript">
        var ctx = [[${#httpServletRequest.getContextPath()}]];
    </script>
</head>
<body>
<div th:replace="toolBar/topNavBar::topNavBar"></div>
<div id="app">
    <input hidden="hidden" ref="shopId" th:value="${shopId}">
    <div v-if="shopVo === null">
        <h1 style="color: red;text-align: center">改天再来吧，店铺还未上线</h1>
    </div>
    <div v-else>
        <el-container style="width: 70% ;margin: auto">
            <el-header>
                <div class="shop-name">
                    <h3 style="color: red;margin-bottom: 20px;text-align: center">{{shopVo.name}}</h3>
                </div>
                <!--收藏栏-->
                <div class="shop-collect">
                    <div v-if="shopVo.collect === null">
                        <el-link type="danger" @click.prevent="collectShop">收藏该店铺</el-link>
                    </div>
                    <div v-else>
                        <el-link type="danger" @click.prevent="cancelCollectShop">取消收藏</el-link>
                    </div>
                </div>
            </el-header>
            <el-container direction="horizontal">

                <el-aside style="padding-top: 20px;width: 45%;margin-right: 3%">
                    <el-carousel height="400px">
                        <el-carousel-item v-for="(imgUrl,index) in goodsImgUrlList" :key="index">
                            <div style=" border: 1px solid gray;">
                                <el-image class="image_preview "
                                          :src="imgUrl"
                                          fit="fill">
                                    <div slot="error" class="image-slot">
                                        商家未添加图片
                                    </div>
                                </el-image>
                            </div>

                        </el-carousel-item>
                    </el-carousel>

                </el-aside>
                <el-main>

                    <!--商品信息模块-->
                    <div class="goods-detail-name-frag">
                        <label>商 品 名 </label>
                        <span class="goods-detail-name">{{currentItem.name}}</span>
                    </div>
                    <div>
                        <div class="goods-detail-price-frag">
                            <label>秒 杀 价 </label>
                            <span class="goods-detail-price"><span>￥</span><span style="font-size: large">{{currentItem.price}}</span></span>
                            <span class="goods-detail-price">[<del>￥{{currentItem.price}}</del>]</span>
                        </div>
                    </div>

                    <!--商品规格-->
                    <!--规格选择-->
                    <div class="shop-item-frag">
                        <label>商 品 选 择 </label>
                        <div v-for="(item,index) in shopVo.shopItems">
                            <div class="item-frag">
                                <span :class="itemClass(index)" @click="selectItem($event,index)">{{item.name}}</span>
                            </div>
                        </div>
                    </div>
                    <!--加入购物车模块-->
                    <div v-if="itemSelected">
                        <div v-if="hasStock">
                            <el-input-number v-model="shopItemNum" :min="1" :max="currentItem.stock"
                                             controls-position="right" size="mini"
                                             style="margin-right: 15px"></el-input-number>
                            <el-button type="warning" size="small" @click="addGoods">加入购物车</el-button>
                            <el-button type="danger" size="small" @click="buySingleGoods">立即购买</el-button>
                            <form ref="selectedListForm" th:action="@{/order/orderPage}" method="post">
                                <input hidden="hidden" name="ids" ref="selectedList">
                            </form>
                        </div>

                        <div v-else>
                            <h4>商品太抢手~已经没有库存啦~</h4>
                        </div>
                    </div>
                    <div v-else>
                        <h4>请选择商品~</h4>
                    </div>
                    <a hidden="hidden" th:href="@{/order/orderPage}" ref="toOrderPage"></a>
                </el-main>
            </el-container>
        </el-container>
    </div>

</div>
</body>
<script th:src="@{/js/toolBar/topNavBar.js}"></script>
<script th:src="@{/js/shop/detailPage.js}"></script>
</html>